/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/*----------------------------------Mon Css --------------------------- */

body{
  font-family: 'Zen Dots', cursive;
  color : #faed27
}

.colorNav{
  background-color: rgba(0, 0, 0, 0.26);
}


/*----------------------------------Mobile version--------------------------- */
/*------Header----------*/
h1{
  font-size: 1.5em;
}

/*------Main----------*/
h2{
  font-size: 1.1em;
}

.sizeCard:hover {
  color: white;
}

/*------Footer----------*/
footer p{
  font-size: 0.8em;
}
/*----------------------------------Ipad/Computer version--------------------------- */

@media screen and (min-width: 576px){
  /*------Header--------*/
  h1{
    font-size: 2em;
  }
  /*------Main----------*/
  h2{
    font-size: 1.5em;
  }
  /*------Footer--------*/
  footer p{
    font-size: 1em;
  }
}
